<body>
    <section>
        <h1>홈</h1>
        <form action="/auth/logout" method="POST">
            <button type="submit">
               로그아웃
            </button>
        </form>
    </section>
</body>
